<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">


    <article id="article">
        <div class="all_product_box">
            <div class="stuff_coner">
                <button class="productPost_btn" th:if="${session.loginUser.role == T(backend.shop.com.multiplexshop.domain.member.entity.Role).ADMIN}"
                                                style="background: transparent; border: 1px solid black;">
                                                    <a th:href="@{/products/createProducts}">P O S T</a>
                </button>
                <h2>S T U F F</h2>
                <form class="all_search_box" th:action="@{/products/search}" onsubmit="return handleSubmit();">
                    <label for="foodSelect" style="font-size: 25px; ">C A T E G O R Y :</label>
                    <select id="foodSelect" name="categories">
                        <option value="ALL">ALL</option>
                        <option value="FOOD">FOOD</option>
                        <option value="STUFF" selected>STUFF</option>
                    </select>
                    <input type="text" class="search_input" id="searchInput" name="keyword">
                    <input type="submit" value="Search">
                </form>
                
                <div class="thumbnail_img">
                    <div class="products" th:each="item : ${stuff}">
                        <a th:href="@{/products/{id}(id=${item.id})}">
                            <img th:src="@{'/uploadfile/'+${item.imagePath}}" width="300px" height="300px">
                        </a>
                        <p th:text="${item.productName}">상품 이름</p>
                        <p>가격 : <span th:text="${item.productPrice}"></span><span>원</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="pagination">
            <th:block th:each="page : ${#numbers.sequence(1, stuff.totalPages)}">
                <a class="page-link" th:class="'page-link '+ ${(stuff.number + 1) == page? 'pageActive':''}"  th:href="@{/products/stuff(page = ${page})}">
                    [[${page}]]
                </a>
            </th:block>
        </div>
    </article>

    <!-- article -->

    </th:block>
</th:block>
<script>
    function handleSubmit(){
        var keyword = document.getElementById("searchInput");
        var select = document.getElementById("foodSelect");

        if(keyword.value.trim()===""){
            alert("검색어를 입력하세요")
            return false;
        }

        if(select.value==="ALL"){
            const uri  =`/products/searchAll?keyword=${keyword.value}`;
            location.replace(uri);
            return false;
        }

        return true;
    }
</script>

</body>

</html>