<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">


    <article id="article">
        <div class="join_box">
            <h2><span>USER</span>님의 주문내역</h2>
            <h3 style="text-align: left; margin-left: 20px;">O R D E R S</h3>
            <div class="order_info" th:if="${not #lists.isEmpty(orderProduct)}" th:each="dto:${orderProduct}">
                <div class="orders">
                    <input type="hidden" id="memberId" th:value = "${dto.orders.member.memberId}">
                    <p>주문번호: <span id="orderId">[[${dto.orders.id}]]</span></p>
                    <p>상품명: <span>[[${dto.products.productName}]]</span></p>
                    <p>가격 : <span class="productPrice">[[${dto.products.productPrice}]]</span>원</p>
                    <p>주문 수량 : <span class="count">[[${dto.count}]]</span></p>
                    <p th:if="${dto.orders.orderStatus.label == 'ORDER'}">주문상태 : 주문완료</p>
                    <p th:if="${dto.orders.orderStatus.label == 'CANCEL'}">주문상태 : 주문취소</p>
                </div>
                <div class="orders" th:if="${dto.orders.orderStatus.label == 'ORDER'}">
                    <div th:each="delivery:${orderDelivery}">
                        <p th:if="${delivery.deliveryStatus.label == 'READY'}">배송상태 : 배송 준비중</p>
                        <p th:if="${delivery.deliveryStatus.label == 'COMPLETE'}">배송상태 : 배송 완료</p>
                    </div>
                </div>
            </div>
            <h3 style="text-align:right; margin-right: 10px;">총 결제금액 : <span id = "totalPrice">0</span>원</h3>
                <!--<a th:href="@{/mypage/{id}(id=${memberId})}" class="cancle-btn" style="margin-left: 600px; border: none; font-size: 20px; padding: 5px;">LIST</a>  // 멤버아이디를 session에서 받아야함.-->
            <a href="/mypage/1" class="cancle-btn" style="margin-left: 600px; border: none; font-size: 20px; padding: 5px;">LIST</a>
            <a class="cancle-btn" id="ordercancel-btn" style="margin-left: 20px; border: none; font-size: 20px; padding: 5px;">CANCEL</a>
        </div>
    </article>

    </th:block>
</th:block>
<script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
<script>    
    window.onload = function() {
        const orderId = document.getElementById('orderId').textContent; // orderId 변경
        const memberId = document.getElementById('memberId').value;

        const orderCancelBtn = document.getElementById('ordercancel-btn');

        // 총 주문금액 계산을 위한 자바스크립트
        let totalPrice = 0;
        const productPriceElements = document.getElementsByClassName('productPrice');
        const countElements = document.getElementsByClassName('count');

        for (var i = 0; i < productPriceElements.length; i++) {
            var price = parseInt(productPriceElements[i].textContent);
            var count = parseInt(countElements[i].textContent);
            totalPrice += price * count;
        }
        document.getElementById('totalPrice').textContent = totalPrice;

        if (orderCancelBtn) {
            orderCancelBtn.addEventListener('click', event => {
                if (confirm('주문을 취소하시겠습니까?')) {
                    fetch(`/api/order/${orderId}`, {
                            method: 'DELETE'
                        })
                        .then(() => {
                            alert('주문취소가 완료되었습니다.');
                            location.replace(`/mypage/${memberId}`);
                        })
                        .catch(error => {
                            console.error(error);
                            alert('주문취소에 실패했습니다. 다시 시도해주세요.');
                            location.replace(`/mypage/${memberId}`);
                        });
                }
            });
        }
    };
</script>
</html>