<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">

    <article id="article">
        <div class="join_box">
            <h2><span>USER</span>님의 결제하실 내역입니다.</h2>
            <div class="order_info" th:if="${not #lists.isEmpty(cartProduct)}" th:each="dto:${cartProduct}">
                <div class="orders">
                   <input type="hidden" class="memberId" th:value="${dto.cart.member.id}">
                    <input type="hidden" class="productId" th:value="${dto.products.id}">
                    <p>상품명: <span>[[${dto.products.productName}]]</span></p>
                    <p>가격 : <span>[[${dto.products.productPrice}]]</span></p>
                    <p>주문수량 : <span>[[${dto.count}]]</span></p>
                </div>
            </div> 

            <h3 style="text-align:right; margin-right: 10px;">총 결제금액 : 원</h3>

            <button class="cancle-btn">C A N C L E</button>
            <button class="orderBtn" style="width: 300px; margin-left: 500px; margin-bottom: 50px;" >N A V E R  P A Y</button>
        </div>


    </article>

    <!-- article -->

    </th:block>
</th:block>
<script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
<script>
    const cancleBtn = document.querySelector('.cancle-btn');
    const orderBtn = document.querySelector('.orderBtn');

    let getMemberId = document.querySelector('.memberId').value;
    let productIdArray = Array.from(document.querySelectorAll('.productId'));
    var productIds = [];
    for (var i = 0; i < productIdArray.length; i++) {
        productIds.push(productIdArray[i].value);
    }
  

    if(cancleBtn){
        cancleBtn.addEventListener('click',event=>{
            if(confirm('결제를 취소하시겠습니까?')){
             location.replace('/');
            }
        })
    }
    if(orderBtn){
        orderBtn.addEventListener('click', event => {
            fetch('/api/order',{
                method:'POST',
                headers:{
                    "Content-Type" : "application/json",
                },
                body: JSON.stringify({
                    memberId : getMemberId,
                    productId : productIds
                })
            })
            .then(response => {
                if (response.status === 201){
                    return response.json();
                }else{
                    alert('네트워크가 올바르지 않습니다. 다시 시도해주세요.')
                    location.replace('/');
                }
             }
        )            
            .then(data => {
                let orderId = data.id;
                alert('결제가 완료되었습니다.');
                location.replace(`/order/complete/${orderId}`);
            })
            .catch(error =>{
                console.error(error);
                alert('결제에 실패했습니다 다시 시도해주세요.')
                location.replace('/');
            })
        })
    }
 </script>
</html>