<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">

    <article id="article">
        <div class="join_box">
            <h2><span>USER</span>님의 주문내역입니다.</h2>
            <div class="order_info">
                <h3 style="text-align: left; margin-left: 20px;">O R D E R S (주문 내역이 있을시에만 보이는 박스 )</h3>
                <div class="orders">
                    <p>상품 명: <span>Product1</span></p>
                    <p>가격 : <span>3,9000 원</span></p>
                </div>
                <a href="#">
                    <button class="cancle-btn">C A N C L E</button>
                </a>
            </div>
            <button class="orderBtn" style="width: 300px; margin-left: 500px; margin-bottom: 50px;" >N A V E R  P A Y</button>
        </div>


    </article>

    <!-- article -->

    </th:block>
</th:block>
 <script>

 </script>
</body>
</html>