spring:
  profiles:
    default: local
  datasource:
    url: jdbc:h2:mem:h2db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create

---
spring:
  thymeleaf:
    cache: false
  config:
    activate:
      on-profile: local



  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: create
    defer-datasource-initialization: true
    thymeleaf:
      cache: false
  h2:
    console:
      enabled: true
      path: /h2-console
  logging:
    level:
      org.springframework: DEBUG
      org.hibernate: DEBUG


file:
  dir: C:\Users\wjdrn\Desktop\test\

webpath: file:\Users\wjdrn\Desktop\test\




---
spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
