<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">

    <article id="article">
    <div class="join_box">
        <input type="hidden" id="member_id" th:value="${member.memberId}">        
            <form id="myForm">
            <div style="width: 800px;">
                <div style="display: flex; margin-top: 50px; justify-self: flex-start; align-items: center; justify-content: flex-end;">
                    <div style="font-size: xx-large;">E - M A I L [&nbsp;I D&nbsp;]:</div>
                    <div th:if="${member.memberId} != null">
                        <input type="email" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" style="cursor:default; background-color: #efefef; width: 500px; margin-left: 50px; margin-right: 0px;" readonly >
                    </div>
                    <div  th:if="${member.memberId} == null">
                        <input type="email" style="width: 500px; margin-left: 50px; margin-right: 0px;" id="" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" required>
                    </div>                    
                </div>
                <div style="color: red;"id="memberEmailId-error" class="error-message"></div>                    

                <div style="display: flex; margin-top: 50px; justify-self: flex-start; align-items: center; justify-content: flex-end;">
                    <div style="font-size: xx-large;">P A S S W O R D :</div>
                    <div th:if="${member.memberId} != null"><input type="password" style=" cursor:default; background-color: #efefef; width: 500px; margin-left: 50px; margin-right: 0px;" class="password" name="password" th:value="${member.password}" readonly required></div>
                    <div th:if="${member.memberId} == null"><input type="password" style="width: 500px; margin-left: 50px; margin-right: 0px;" id="password"  class="password" name="password" th:value="${member.password}" th:utext="${member.password}" required></div>                    
                </div>
                <div style="color: red;"id="password-error" class="error-message"></div>

                <div style="display: flex; margin-top: 50px; justify-self: flex-start; align-items: center; justify-content: space-between;">
                    <div style="font-size: xx-large; margin-left: 5px;">N A M E:</div>
                    <div th:if="${member.memberId} != null"><input type="text" style="cursor:default; background-color: #efefef; width: 500px; margin:25px 0px 25px 50px;" class="memberName" name="memberName" th:value="${member.memberName}" readonly></div>
                    <div th:if="${member.memberId} == null"><input type="text" style="width: 500px; margin:25px 0px 25px 50px;" class="memberName" name="memberName" th:value="${member.memberName}" required></div>
                </div>
                <div style="color: red;" id="memberName-error" class="error-message"></div>

                <div style="width: 950px; display: flex; margin-top: 50px; justify-self: flex-end; align-items: center;">
                    <div style="margin-right: 50px; font-size: xx-large;">A D D R E S S:</div>
                    <div ><input type="text" tabindex="-1" style="width: 500px; margin:25px 0px 25px 50px;"  name="memberAddress" id="memberAddress" th:value="${member.memberAddress}" readonly></div>
                    <div><input type="button" style="margin-left: 30px;" id="address_kakao" class="addr_btn" value="주소 찾기"> </div>
                </div>
                <div style="color: red;"id="memberAddress-error" class="error-message"></div>

                <div style="display: flex; margin-top: 50px; justify-self: flex-start; align-items: center;  justify-content: space-between;">
                    <div style="font-size: xx-large;">P H O N E :</div>
                    <div><input type="text" style="width: 500px; margin:25px 0px 25px 50px; " id="phoneNumber" name="phoneNumber" th:value="${member.phoneNumber}"></div>
                </div>
                <div style="color: red;"id="phoneNumber-error" class="error-message"></div>
                <input type="hidden" id="role" th:value = ${member.role}>
            </div>
                <br>
                <input th:if="${member.memberId} == null" class="join_btn" id="join_btn" type="submit" value="S U B M I T">
                <input th:if="${member.memberId} != null" class="modify_btn" id="modify_btn" type="submit" value="U P D A T E">

            </form>

    </div>
</article>

<!-- article -->



    </th:block>
</th:block>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const form = document.querySelector('form');

    form.addEventListener("submit", (event) => {
        event.preventDefault();
    });



    window.onload = function() {
    document.getElementById("address_kakao").addEventListener("click", function() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById("memberAddress").value = data.address;
            }
        }).open();
    });


    const passwordPattern = /^(?=.*\d).{6,12}$/;
    const passwordInput = document.getElementById("password");

    passwordInput.addEventListener("input", function() {

    if (passwordPattern.test(passwordInput.value)) {
        passwordInput.setCustomValidity("");
    } else {
        passwordInput.setCustomValidity("비밀번호는 최소 6자에서 12자 사이의 숫자를 포함해야 합니다.");
        }
        passwordInput.reportValidity();

    });

    }

    const joinBtn = document.getElementById('join_btn');
        if (joinBtn) {
            joinBtn.addEventListener('click', event => {
                const memberRole = 'USER';

                    fetch('/api/join', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        memberEmailId : document.querySelector('.memberEmailId').value,
                        password : document.querySelector('.password').value,
                        memberName : document.querySelector('.memberName').value,
                        memberAddress : document.getElementById('memberAddress').value,
                        phoneNumber : document.getElementById('phoneNumber').value,
                        role:memberRole
                    })
                })
                    .then(response => {
                        if(response.ok){
                            return response.json();
                        }else{
                            return response.json();
                        }
                    })
                    .then(data => {
                        if(data.code===400){                            
                            alert(data.message);
                            const errors = data.data;
                            for(const field in errors){
                                const errorMessage = errors[field];
                                const errorElement = document.getElementById(field+'-error');
                                    if(errorElement){
                                      errorElement.textContent = errorMessage;
                                    }
                            }
                        }else if(data.code===200){
                        alert('회원가입이 완료되었습니다!');
                        location.replace('/');
                    }
                })
                .catch(error=>{
                    console.error("Error : " + error)
                })
            });
        }

    const modifyButton = document.getElementById('modify_btn');

    if (modifyButton) {
        modifyButton.addEventListener('click', event => {

        const id = document.getElementById('member_id').value;

            fetch(`/api/mypage/${id}`, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json",
                    },
                body: JSON.stringify({
                        memberEmailId : document.querySelector('.memberEmailId').value,
                        password : document.querySelector('.password').value,
                        memberName : document.querySelector('.memberName').value,
                        memberAddress : document.getElementById('memberAddress').value,
                        phoneNumber : document.getElementById('phoneNumber').value,
                        role:document.getElementById('role').value
            })
        })
        .then(response => {
                        if(response.ok){
                            return response.json();
                        }else{
                            return response.json();
                        }
                    })
                    .then(data => {
                        if(data.code===400){                            
                            alert(data.message);
                            const errors = data.data;
                            for(const field in errors){
                                const errorMessage = errors[field];
                                const errorElement = document.getElementById(field+'-error');
                                    if(errorElement){
                                      errorElement.textContent = errorMessage;
                                    }
                            }
                        }else if(data.code===200){
                        alert('회원정보가 수정되었습니다!');
                        location.replace(`/mypage/${id}`);
                        }
                })
                .catch(error=>{
                    console.error("Error : " + error)
                })
            });

   }


    </script>

</body>

</html>