<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">


<article id="article">
    <div class="right_contents">
        <!-- 공지사항 본문 -->
        <div th:object="${Board}" class="notice_contents">
            <input type="hidden" class="txt_tit_notice" name="boardId" id="boardId" th:value="${Board.boardId}">
            <div>
                <div style="color: red;"id="boardTitle-error" class="error-message"></div>
                <h3> TITLE : </h3> <input class="txt_tit_notice" name="boardTitle" id="boardTitle"
                                          th:value="${Board.boardTitle}">                
            </div>
            <input type="hidden" id="memberId" th:value="${session.loginUser.memberId}">
            <input type="hidden" id="memberRole" th:value="${session.loginUser.role}">
            <div>
                <h3>  CONTENT : </h3>
                <div style="color: red;"id="boardContent-error" class="error-message"></div>
                <textarea class="box_contents" name="boardContent" id="boardContent" th:text="${Board.boardContent}">

                </textarea>
            </div>
        </div>
    </div>

    <div class="btns">
        <a th:href="@{/support(page=${page})}" class="list-btn list2" style=" margin-top:20px; margin-rigth:15px;">LIST</a></a>
        <a th:if="${Board.boardId} == null" class="list-btn" style="margin-top:20px;" id="post_btn">POST</a>
        <div style="margin-top:20px;">
            <a th:if="${Board.boardId} != null" class="list-btn" id="update_btn">UPDATE</a>
            <a th:if="${Board.boardId} != null" class="list-btn" id="delete_btn">DELETE</a>
        </div>
    </div>

</article>

<!-- article -->


    </th:block>
</th:block>

<script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
<script>

    const postBtn = document.getElementById('post_btn');
 if(postBtn){
     postBtn.addEventListener('click', event => {

        const role = document.getElementById('memberRole').value;
        const boardTypeInput = (role === 'ADMIN') ? 'NOTICE' : 'POST';
         fetch('/api/support',{
             method:'POST',
             headers:{
                 "Content-Type": "application/json",
             },
             body: JSON.stringify({
                 memberId : document.getElementById('memberId').value,
                 boardTitle : document.getElementById('boardTitle').value,
                 boardContent : document.getElementById('boardContent').value,
                 boardType:boardTypeInput
             })
         })
         .then(response => {
            if(response.ok){
                return response.json();
            }else{
                return response.json();
            }
        })
         .then(data =>{
            if(data.code===400){
                alert(data.message);
                const errors = data.data;
                for(const field in errors){
                    const errorMessage = errors[field];
                    const errorElement = document.getElementById(field + '-error');
                    if(errorElement){
                        errorElement.textContent = errorMessage;
                    }
                }
            }else if(data.code===200){
                alert('게시물이 등록되었습니다.')
                location.replace('/support');
            }
         })
         .catch(error=>{
            console.error("Error : " +error)
         });         
    }
 )}
    let id = document.getElementById('boardId').value;
const updateBtn = document.getElementById('update_btn');

if (updateBtn) {
    updateBtn.addEventListener('click', event => {
        fetch(`/api/support/${id}`, {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                memberId: document.getElementById('memberId').value,
                boardTitle: document.getElementById('boardTitle').value,
                boardContent: document.getElementById('boardContent').value
            })
        })
        .then(response => response.json()) // 서버 응답을 JSON으로 파싱
        .then(data => {
            if(data.code === 400){
                alert(data.message);
                const errors = data.data;
                for(const field in errors){
                    const errorMessage = errors[field];
                    const errorElement = document.getElementById(field + '-error');
                    if(errorElement){
                        errorElement.textContent = errorMessage;
                    }
                }
            }else if(data.code === 200){
                // 성공적으로 처리되었을 때의 로직
                alert('게시물이 수정되었습니다.');
                location.replace('/support');
            }
        })
        .catch(error => {
            // 에러 발생시 처리
            console.error('Error:', error);
        });
    });
}
const deleteBtn = document.getElementById('delete_btn');

if(deleteBtn){
    deleteBtn.addEventListener('click',event => {
        fetch(`/api/support/${id}`, {
            method:'DELETE'
        })
        .then(()=>
        alert('삭제가 완료되었습니다.'))
        location.replace('/support');
    });
}



</script>
</html>

