<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">


<article id="article">
    <div class="right_contents">
        <!-- 공지사항 본문 -->
        <div th:object="${Board}" class="notice_contents">
            <input type="hidden" class="txt_tit_notice" name="boardId" id="boardId" th:value="${Board.boardId}">
            <input type="hidden" class="txt_tit_notice" name="boardType" id="boardType" th:value="${Board.boardType}">
            <p>
            <h3> TITLE : </h3> <input class="txt_tit_notice" name="boardTitle" id="boardTitle"
                                      th:value="${Board.boardTitle}">
            </p>
            <p>
            <h3> USER ID : </h3> <input class="txt_tit_notice" th:field="*{memberId}">
            </p>
            <h3> CONTENT : </h3>
            <textarea class="box_contents" name="boardContent" id="boardContent" th:text="${Board.boardContent}">

                </textarea>
        </div>
    </div>

    <div class="btns">
        <a th:href="@{/support(page=${page})}" class="list-btn list2" style="margin-top:20px;">LIST</a></a>
        <a th:if="${Board.boardId} == null" class="list-btn" style="margin-top:20px;" id="post_btn">POST</a>
        <a th:if="${Board.boardId} != null" class="list-btn" style="margin-top:20px;" id="update_btn">UPDATE</a>
        <a th:if="${Board.boardId} != null" class="list-btn" style="margin-top:20px;" id="delete_btn">DELETE</a>
    </div>

</article>

<!-- article -->


    </th:block>
</th:block>

<script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
<script>

    const postBtn = document.getElementById('post_btn');
 if(postBtn){
     postBtn.addEventListener('click', event => {
         fetch('/api/support',{
             method:'POST',
             headers:{
                 "Content-Type": "application/json",
             },
             body: JSON.stringify({
                 memberId : document.getElementById('memberId').value,
                 boardTitle : document.getElementById('boardTitle').value,
                 boardContent : document.getElementById('boardContent').value
             })
         })
         .then(()=>{
             alert('게시물이 등록되었습니다.');
             location.replace('/support');
         });
         }
 )}
    let id = document.getElementById('boardId').value;
const updateBtn = document.getElementById('update_btn');

if (updateBtn) {
    updateBtn.addEventListener('click', event => {
        fetch(`/api/support/${id}`, {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                memberId: document.getElementById('memberId').value,
                boardTitle: document.getElementById('boardTitle').value,
                boardContent: document.getElementById('boardContent').value
            })
        })
        .then(response => response.json()) // 서버 응답을 JSON으로 파싱
        .then(data => {
            // 성공적으로 처리되었을 때의 로직
            alert('게시물이 수정되었습니다.');
            location.replace('/support');
        })
        .catch(error => {
            // 에러 발생시 처리
            console.error('Error:', error);
        });
    });
}
const deleteBtn = document.getElementById('delete_btn');

if(deleteBtn){
    deleteBtn.addEventListener('click',event => {
        fetch(`/api/support/${id}`, {
            method:'DELETE'
        })
        .then(()=>
        alert('삭제가 완료되었습니다.'))
        location.replace('/support');
    });
}



</script>
</html>

