<div class="comment-view" th:each="reply :${comment}">
    <input type="hidden" id="reply-id" th:value="${reply.id}">
    <div class="comment_header">
        <div class="commenter">writer : <span th:text="${session.loginUser.memberName}">kim</span></div>
        <span class="comment-date" th:text="${#temporals.format(reply.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>
    <div class="comment">
        <div class="comment_inform"  th:text="${reply.commentContent}">댓글내용입니다~~</div>
        <div class="comment-btns">
            <div class="comment-btns" th:if="${session.loginUser.memberId == reply.member.memberId}">
                <button class="comment-btn" th:value="${reply.id}" id="update-btn">수정</button>
                <button class="comment-btn" th:value="${reply.id}" id="delete-btn">삭제</button>
            </div>
        </div>
    </div>
</div>

