<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
 <th:block th:fragment="setContent(contentFrag)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiplexShop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navBar">
    <div class="navBar_logo">
        <a th:href="@{/}">
            <i class="fa-brands fa-drupal"></i>
            <span class="logo">S H O P</span>
        </a>
    </div>
    <ul class="navBar_menu" >
        <li style="color: black;"><a th:href="@{/products}">A L L </a></li>
        <li style="color: black;"><a th:href="@{/products/food}">F O O D</a></li>
        <li style="color: black;"><a th:href="@{/products/stuff}">S T U F F</a></li>
    </ul>

    <ul class="navBar_members">
        <li th:if="${session.loginUser != null}">
            <a th:href="@{/cart/{id}(id=${session.loginUser.memberId})}" class="iconA">
                <i class="fa-solid fa-cart-shopping" style="display: block; text-align: center; line-height: 40px;" ></i>
                <span>Cart</span>
            </a>
        </li>
        <li>
            <a th:href="@{/support}" class="iconA">
                <i class="fa-solid fa-handshake" style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                <span>Support</span>
            </a>
        </li>
        <li th:if="${session.loginUser == null}">
            <a th:href="@{/join}">
                <i class="fa-solid fa-arrow-right-to-bracket" style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                <span>Join</span>
            </a>
        </li>
        <li>
            <a th:if="${session.loginUser == null}" th:href="@{/login}">
                <i class="fa-solid fa-power-off" style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                <span>Login</span>
            </a>
            <a th:if="${session.loginUser != null}" style="cursor: pointer;" id="logoutBtn">
                <i class="fa-solid fa-door-open" style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                <span>Logout</span>
            </a>
        </li>
        <li th:if="${session.loginUser != null}">
            <a th:if="${session.loginUser.role == T(backend.shop.com.multiplexshop.domain.member.entity.Role).USER}" th:href="@{/mypage/{id}(id=${session.loginUser.memberId})}">
                <i class="fa-solid fa-user" style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                <span>MyPage</span>
            </a>
            <a th:if="${session.loginUser.role == T(backend.shop.com.multiplexshop.domain.member.entity.Role).ADMIN}" th:href="@{/adminpage}">
                <i class="fa-solid fa-gear" style="display: block; text-align: center; line-height: 40px;"></i>
                <span>AdminPage</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Nav Bar -->

    <th:block th:replace="${contentFrag}"></th:block>

<footer id="footer">
    <div>
        <p>이곳은 footer 입니다.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
            Temporibus, explicabo provident. Explicabo incidunt nesciunt perferendis optio, <br>
            recusandae maiores quam suscipit consequatur.</p>
    </div>
</footer>
<!-- footer -->

</body>
     <script src="https://kit.fontawesome.com/0febe7a16f.js" crossorigin="anonymous"></script>
        const logoutBtn = document.querySelector('#logoutBtn');

        if (logoutBtn) {
            logoutBtn.addEventListener('click', () => {
                console.log('hi');
                fetch('/logout', {method: 'POST'})
                .then(() => {
                    alert('로그아웃되었습니다.');
                    location.replace('/');
                });
            });
        }

     </script>
 </th:block>
</html>




