<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiplexShop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navBar">
        <div class="navBar_logo">
            <a th:href="@{/}">
                <i class="fa-brands fa-drupal"></i>
                <span class="logo">S H O P</span>
            </a>
        </div>

        <ul class="navBar_menu">
            <li style="color: black;"><a th:href="@{/allProductView}">A L L </a></li>
            <li style="color: black;"><a th:href="@{/foodProduct}">F O O D</a></li>
            <li style="color: black;"><a th:href="@{/stuffProduct}">S T U F F</a></li>
        </ul>

        <ul class="navBar_members">
            <li>
                <a th:href="@{/cart}" class="iconA">
                    <i class="fa-solid fa-cart-shopping"
                        style="display: block; text-align: center; line-height: 40px;"></i>
                    <span>Cart</span>
                </a>
            </li>
            <li>
                <a th:href="@{/support}" class="iconA">
                    <i class="fa-solid fa-handshake"
                        style="color: black; display: block; text-align: center; line-height: 40px;"></i>
                    <span>Support</span>
                </a>
            </li>
            <li><a th:href="@{/join}">Join</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/mypage/1}">MyPage</a></li>
        </ul>
    </nav>
    <!-- Nav Bar -->


    <article id="article">
        <div class="join_box">
                <input type="hidden" id="member_id" th:value="${member.memberId}">
                <table class="join_table">
                  <tr class="join_tr">
                    <td class="join_td">E - M A I L [&nbsp;I D&nbsp;]:</td>
                    <td class="join_td" th:if="${member.memberId} != null">
                        <input type="email" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" style="cursor:default; background-color: #efefef;" readonly >
                    </td>
                      <td class="join_td" th:if="${member.memberId} == null">
                          <input type="email" id="" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" required>
                      </td>
                  </tr>
                  <tr class="join_tr">
                    <td class="join_td">P A S S W O R D :</td>
                    <td class="join_td" th:if="${member.memberId} != null"><input type="password"  class="password" name="password" th:value="${member.password}" style="cursor:default; background-color: #efefef;" readonly required></td>
                    <td class="join_td" th:if="${member.memberId} == null"><input type="password" id="password"  class="password" name="password" th:value="${member.password}" th:utext="${member.password}" required></td>
                  </tr>
                  <tr class="join_tr">
                    <td class="join_td">N A M E:</td>
                    <td class="join_td" th:if="${member.memberId} != null"><input type="text" class="memberName" name="memberName" style="cursor:default; background-color: #efefef;" th:value="${member.memberName}" readonly></td>
                    <td class="join_td" th:if="${member.memberId} == null"><input type="text" class="memberName" name="memberName" th:value="${member.memberName}"></td>
                  </tr>
                  <tr class="join_tr">
                    <td class="join_td">A D D R E S S:</td>
                    <td class="join_td" ><input type="text" id="address_kakao" name="memberAddress" th:value="${member.memberAddress}"></td>
                      <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                          <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                      </div>
                  </tr>
                  <tr class="join_tr"s>
                    <td class="join_td">P H O N E :</td>
                    <td class="join_td"><input type="text" id="phoneNumber" name="phoneNumber" th:value="${member.phoneNumber}"></td>
                  </tr>
                </table>
                <br>
                <input th:if="${member.memberId} == null" class="join_btn" id="join_btn" type="submit" value="S U B M I T">
                <input th:if="${member.memberId} != null" class="modify_btn" id="modify_btn" type="submit" value="U P D A T E">
        </div>
    </article>

    <!-- article -->


    <footer id="footer">
        <div>
            <p>이곳은 footer 입니다.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                Temporibus, explicabo provident. Explicabo incidunt nesciunt perferendis optio, <br>
                recusandae maiores quam suscipit consequatur.</p>
        </div>
    </footer>
    <!-- footer -->

    <script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">


        window.onload = function() {
        document.getElementById("address_kakao").addEventListener("click", function() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById("address_kakao").value = data.address;
                }
            }).open();
        });

        const passwordPattern = /^(?=.*\d).{6,12}$/;
        const passwordInput = document.getElementById("password");

        passwordInput.addEventListener("input", function() {

        if (passwordPattern.test(passwordInput.value)) {
            passwordInput.setCustomValidity("GOOD");
        } else {
            passwordInput.setCustomValidity("비밀번호는 최소 6자에서 12자 사이의 숫자를 포함해야 합니다.");
            }
            passwordInput.reportValidity();

        });

        }

        const joinBtn = document.getElementById('join_btn');
            if (joinBtn) {
                joinBtn.addEventListener('click', event => {

                    fetch('/api/join', {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            memberEmailId : document.querySelector('.memberEmailId').value,
                            password : document.querySelector('.password').value,
                            memberName : document.querySelector('.memberName').value,
                            memberAddress : document.getElementById('address_kakao').value,
                            phoneNumber : document.getElementById('phoneNumber').value
                        })
                    })
                        .then(() => {
                            alert('회원가입이 완료되었습니다!');
                            location.replace('/');
                        });
                });
            }

        const modifyButton = document.getElementById('modify_btn');
        if (modifyButton) {
            modifyButton.addEventListener('click', event => {
            let params = new URLSearchParams(location.search);
            let id = params.get('id');
                fetch(`/api/mypage/${id}`, {
                    method: 'PUT',
                    headers: {
                        "Content-Type": "application/json",
                        },
                    body: JSON.stringify({
                    memberAddress : document.getElementById('address_kakao').value,
                    phoneNumber : document.getElementById('phoneNumber').value
                })
            })
            .then(() => {
                alert('회원 정보가 수정되었습니다.');
                location.replace(`/mypage/${id}`);
            });
        });
       }


    </script>

</body>

</html>