<th:block th:replace="~{/basic :: setContent(~{this::contentFrag})}">
    <th:block th:fragment="contentFrag">


<article id="article">
    <div class="join_box">
        <input type="hidden" id="member_id" th:value="${member.memberId}">
        <table class="join_table">
            <form id="myForm">
                <tr class="join_tr">
                    <td class="join_td">E - M A I L [&nbsp;I D&nbsp;]:</td>
                    <td class="join_td" th:if="${member.memberId} != null">
                        <input type="email" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" style="cursor:default; background-color: #efefef;" readonly >
                    </td>
                    <td class="join_td" th:if="${member.memberId} == null">
                        <input type="email" id="" class="memberEmailId" name="memberEmailId" th:value="${member.memberEmailId}" required>
                    </td>
                </tr>
                <tr class="join_tr">
                    <td class="join_td">P A S S W O R D :</td>
                    <td class="join_td" th:if="${member.memberId} != null"><input type="password"  class="password" name="password" th:value="${member.password}" style="cursor:default; background-color: #efefef;" readonly required></td>
                    <td class="join_td" th:if="${member.memberId} == null"><input type="password" id="password"  class="password" name="password" th:value="${member.password}" th:utext="${member.password}" required></td>
                </tr>
                <tr class="join_tr">
                    <td class="join_td">N A M E:</td>
                    <td class="join_td" th:if="${member.memberId} != null"><input type="text" class="memberName" name="memberName" style="cursor:default; background-color: #efefef;" th:value="${member.memberName}" readonly></td>
                    <td class="join_td" th:if="${member.memberId} == null"><input type="text" class="memberName" name="memberName" th:value="${member.memberName}" required></td>
                </tr>
                <tr class="join_tr">
                    <td class="join_td">A D D R E S S:</td>
                    <td class="join_td" ><input type="text"  name="memberAddress" id="memberAddress" th:value="${member.memberAddress}" required></td>
                    <td class="addr_td"><input type="button" id="address_kakao" class="addr_btn" value="주소 찾기"> </td>

                </tr>
                <tr class="join_tr"s>
                    <td class="join_td">P H O N E :</td>
                    <td class="join_td"><input type="text" id="phoneNumber" name="phoneNumber" th:value="${member.phoneNumber}"></td>
                </tr>
                </table>
                <br>
                <input th:if="${member.memberId} == null" class="join_btn" id="join_btn" type="submit" value="S U B M I T">
                <input th:if="${member.memberId} != null" class="modify_btn" id="modify_btn" type="submit" value="U P D A T E">

            </form>

    </div>
</article>

<!-- article -->


<footer id="footer">
    <div>
        <p>이곳은 footer 입니다.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
            Temporibus, explicabo provident. Explicabo incidunt nesciunt perferendis optio, <br>
            recusandae maiores quam suscipit consequatur.</p>
    </div>
</footer>
<!-- footer -->

<script src="https://kit.fontawesome.com/d2cac4190c.js" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const form = document.querySelector('form');

    form.addEventListener("submit", (event) => {
        event.preventDefault();
    });



    window.onload = function() {
    document.getElementById("address_kakao").addEventListener("click", function() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById("memberAddress").value = data.address;
            }
        }).open();
    });

    const passwordPattern = /^(?=.*\d).{6,12}$/;
    const passwordInput = document.getElementById("password");

    passwordInput.addEventListener("input", function() {

    if (passwordPattern.test(passwordInput.value)) {
        passwordInput.setCustomValidity("");
    } else {
        passwordInput.setCustomValidity("비밀번호는 최소 6자에서 12자 사이의 숫자를 포함해야 합니다.");
        }
        passwordInput.reportValidity();

    });

    }

    const joinBtn = document.getElementById('join_btn');
        if (joinBtn) {
            joinBtn.addEventListener('click', event => {
                const email = document.querySelector('.memberEmailId').value;
                const pw = document.querySelector('.password').value;
                const name = document.querySelector('.memberName').value;

                if(email != "" && pw != "" && name != ""){
                    fetch('/api/join', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        memberEmailId : document.querySelector('.memberEmailId').value,
                        password : document.querySelector('.password').value,
                        memberName : document.querySelector('.memberName').value,
                        memberAddress : document.getElementById('memberAddress').value,
                        phoneNumber : document.getElementById('phoneNumber').value
                    })
                })
                    .then(() => {
                        alert('회원가입이 완료되었습니다!');
                        location.replace('/');
                    });
                }

            });
        }

    const modifyButton = document.getElementById('modify_btn');
    if (modifyButton) {
        modifyButton.addEventListener('click', event => {

        let params = new URLSearchParams(location.search);
        let id = params.get('id');

            fetch(`/api/mypage/${id}`, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json",
                    },
                body: JSON.stringify({

                memberAddress : document.getElementById('memberAddress').value,
                phoneNumber : document.getElementById('phoneNumber').value
            })
        })
        .then(() => {
            alert('회원 정보가 수정되었습니다.');
            location.replace(`/mypage/${id}`);
        });
    });

   }


    </script>

</body>

</html>