<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="login_box">
        <form th:action="@{/login}" method="post" class="borderBox">
            <h1 style="font-size: 55px;">W E L C O M E</h1>
            <input type="text" placeholder="E MAIL" name="memberEmailId">
            <input type="password" placeholder="PASSWORD" name="password" style="font-size: 18px; text-indent: 3px;">
            <p>
                <button type="submit">L O G I N</button>                
            </p>
        </form>
        <a th:href="@{/join}"><button class="join_button" style="right: 1090px;">J O I N</button></a>
    </div>
</body>
</html>