<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="login_box">
        <form action="/login" method="post" class="borderBox">
            <h1 style="font-size: 55px;">W E L C O M E</h1>
            <input type="text" placeholder="E MAIL" name="memberEmailId">
            <input type="password" placeholder="PASSWORD" name="password" style="font-size: 18px; text-indent: 3px;">
            <p>
                <button type="submit">L O G I N</button>
                <a th:href="@{/join}" style="
                padding: 10px;
                width: 100px;
                height: 40px;
                font-weight: bold;
                font-size: 20px;
                transform: scale(1.2);
                ">&nbsp; J O I N &nbsp;</a>
            </p>
        </form>
    </div>
</body>
</html>