<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="login_box">
        <form action="#" method="get" class="borderBox">
            <h1 style="font-size: 55px;">W E L C O M E</h1>
            <input type="text" placeholder="E MAIL">
            <input type="password" placeholder="password" style="font-size: 18px; text-indent: 3px;">
            <p>
                <button type="submit">L O G I N</button>
                <button type="submit">&nbsp; J O I N &nbsp;</button>
            </p>
        </form>
    </div>
</body>
</html>